body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#ecdca7,rgb(239, 163, 163), #b4f4b8);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;


    background-image: url("TASK_2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    color: rgb(255, 255, 255);
}

.authority button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="date"], input[type="time"], input[type="text"] {
    font-family: monospace;
    padding-inline-start: 1px;
    cursor: default;
    overflow: hidden;
    padding: 0px;
}

.authority button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.task-input {
    display: flex;
    margin-bottom: 20px;
}

.task-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.task-input button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#task-list {
    list-style: none;
    padding: 0;
}

#task-list li {
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: grab;
}

#task-list li.complete {
    text-decoration: line-through;
    color: #777;
}

.dragging {
    opacity: 0.5;
}
